<div class="row grey lighten-5">
    <div class="card col l8 m10 s12 center-align offset-l2 offset-m1" style='border-radius: 10px;'>
    <div class="card-image">
      <img style='margin-top: 10px; border-radius: 5px;' class='z-depth-3' src="{{ site.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
      <span align="left" style='font-family: "Spartan"; margin-bottom: -30px' class="card-title">{{site.profile.title}}</span>
    </div>
      <div class="card-content" style='text-align: left'>
            <p>{{site.profile.description}}</p>
      </div>
      <div style='width:100%; text-align: center'>
          <a class="grey-text text-darken-2" style='font-family: "Spartan";' href="{{ site.baseurl | prepend: site.url }}/"><li class='waves-effect btn-flat grey-text text-darken-2'>News</li></a>
          {% for page in site.pages %}
            {% if page.title and page.url != "/" %}
            <a class="grey-text text-darken-2" style='font-family: "Spartan";' href="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><li class='waves-effect btn-flat grey-text text-darken-2'>{{ page.title }}</li></a>
            {% endif %}
          {% endfor %}
          </div>
